.infoGeneral {
    font-family: Helvetica, sans-serif;
    color: beige;
    background-color: black;
    

}

.restodelCV {
    background-color:beige;
    font-family: Helvetica, sans-serif;
    color: black;
}